# Exercise 2-02

## Clean data and finding outliers in the dataset 

Exercise 2-01 did not contain any programming

We are going to be using the appliances energy prediction dataset located here: https://archive.ics.uci.edu/static/public/374/appliances+energy+prediction.zip

In [1]:
import pandas as pd

Read the csv into memory

In [4]:
data = pd.read_csv("energydata_complete.csv")
# we don't need every column, the 'date' column is useless for our use case
data = data.drop(columns=["date"])
print(data.shape)

(19735, 28)

In [5]:
print(data.head)

<bound method NDFrame.head of        Appliances  lights         T1       RH_1         T2       RH_2  \
0              60      30  19.890000  47.596667  19.200000  44.790000
1              60      30  19.890000  46.693333  19.200000  44.722500
2              50      30  19.890000  46.300000  19.200000  44.626667
3              50      40  19.890000  46.066667  19.200000  44.590000
4              60      40  19.890000  46.333333  19.200000  44.530000
...           ...     ...        ...        ...        ...        ...
19730         100       0  25.566667  46.560000  25.890000  42.025714
19731          90       0  25.500000  46.500000  25.754000  42.080000
19732         270      10  25.500000  46.596667  25.628571  42.768571
19733         420      10  25.500000  46.990000  25.414000  43.036000
19734         430      10  25.500000  46.600000  25.264286  42.971429

              T3       RH_3         T4       RH_4  ...         T9     RH_9  \
0      19.790000  44.730000  19.000000  45.566667  ...  17.033333  45.5300
1      19.790000  44.790000  19.000000  45.992500  ...  17.066667  45.5600
2      19.790000  44.933333  18.926667  45.890000  ...  17.000000  45.5000
3      19.790000  45.000000  18.890000  45.723333  ...  17.000000  45.4000
4      19.790000  45.000000  18.890000  45.530000  ...  17.000000  45.4000
...          ...        ...        ...        ...  ...        ...      ...
19730  27.200000  41.163333  24.700000  45.590000  ...  23.200000  46.7900
19731  27.133333  41.223333  24.700000  45.590000  ...  23.200000  46.7900
19732  27.050000  41.690000  24.700000  45.730000  ...  23.200000  46.7900
19733  26.890000  41.290000  24.700000  45.790000  ...  23.200000  46.8175
19734  26.823333  41.156667  24.700000  45.963333  ...  23.200000  46.8450

           T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
0       6.600000        733.5  92.000000   7.000000   63.000000   5.300000
1       6.483333        733.6  92.000000   6.666667   59.166667   5.200000
2       6.366667        733.7  92.000000   6.333333   55.333333   5.100000
3       6.250000        733.8  92.000000   6.000000   51.500000   5.000000
4       6.133333        733.9  92.000000   5.666667   47.666667   4.900000
...          ...          ...        ...        ...         ...        ...
19730  22.733333        755.2  55.666667   3.333333   23.666667  13.333333
19731  22.600000        755.2  56.000000   3.500000   24.500000  13.300000
19732  22.466667        755.2  56.333333   3.666667   25.333333  13.266667
19733  22.333333        755.2  56.666667   3.833333   26.166667  13.233333
19734  22.200000        755.2  57.000000   4.000000   27.000000  13.200000

             rv1        rv2
0      13.275433  13.275433
1      18.606195  18.606195
2      28.642668  28.642668
3      45.410389  45.410389
4      10.084097  10.084097
...          ...        ...
19730  43.096812  43.096812
19731  49.282940  49.282940
19732  29.199117  29.199117
19733   6.322784   6.322784
19734  34.118851  34.118851

[19735 rows x 28 columns]>

In [14]:
# check for categorical features in our data set
https://archive.ics.uci.edu/static/public/203/yearpredictionmsd.zip

[]

Since the resulting list is empty, this tells us that there are no categorical features to deal with.

* Note to self: what the hell are 'categorical' features?

In [16]:
# check if there are missing values in any of the columns
data.isnull().sum()
# this counts how many null values we have per column

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

Since they are all zero, we're good!

We are going to use three standard deviations as the measure to detect any outliers for all the features in the dataset.

In [20]:
outliers = {}
for i in range(data.shape[1]):
    min_t = data[data.columns[1]].mean() - (3 * data[data.columns[i]].std())
    max_t = data[data.columns[i]].mean() + (3 * data[data.columns[i]].std())
    count = 0
    for j in data[data.columns[i]]:
        if j < min_t or j > max_t:
            count += 1
    percentage = count / data.shape[0]
    outliers[data.columns[i]] = "%.3f" % percentage
outliers

{'Appliances': '0.027',
 'lights': '0.033',
 'T1': '0.000',
 'RH_1': '0.005',
 'T2': '0.010',
 'RH_2': '0.002',
 'T3': '0.003',
 'RH_3': '0.001',
 'T4': '0.000',
 'RH_4': '0.000',
 'T5': '0.001',
 'RH_5': '0.029',
 'T6': '0.005',
 'RH_6': '0.000',
 'T7': '0.000',
 'RH_7': '0.001',
 'T8': '0.000',
 'RH_8': '0.000',
 'T9': '0.000',
 'RH_9': '0.000',
 'T_out': '0.005',
 'Press_mm_hg': '0.000',
 'RH_out': '0.000',
 'Windspeed': '0.005',
 'Visibility': '0.000',
 'Tdewpoint': '0.000',
 'rv1': '0.000',
 'rv2': '0.000'}